<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.RegisterMapper">
    <resultMap id="registerMapper" type="cn.wolfcode.mapper.RegisterMapper">
<!--        <id property="id" column="id"></id>-->
        <result property="phone" column="phone"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="createUser" column="create_user"></result>
        <result property="createTime" column="create_time"></result>
        <result property="modifyUser" column="modify_user"></result>
        <result property="modifyTime" column="modify_time"></result>
    </resultMap>
    <select id="searchByPhone" resultMap="registerMapper">
        select * from t_user_login where phone = #{phone};
    </select>
    <insert id="register" useGeneratedKeys="true" parameterMap="registerMapper">
        insert into t_user_login(phone,password,salt,create_user,create_time,modify_user,modify_time)
        values(
                 #{phone},#{password},#{salt},#{createUser},#{createTime},#{modifyUser},#{modifyTime}
             );
    </insert>

</mapper>